.taskFlex {
  display: flex;
  flex-direction: column;
  align-items: center;
  gap: 1rem;
  .completedTask {
    background: #5cff3b;
    transition: 0.5;
    text-transform: uppercase;
  }
}

.task {
  background-color: white;
  border-radius: 5px;
  box-shadow: rgba(100, 100, 111, 0.2) 0px 7px 29px 0px;
  min-width: 500px;
  padding: 20px;
  display: flex;
  align-items: center;
  justify-content: flex-start;
  gap: 1rem;

  margin-top: 0.5rem;
  cursor: pointer;
  &::before {
    content: "";
    height: 50px;
    width: 2px;
    background: #3c3c3c;
  }
  @media (max-width: 600px) {
    min-width: 90%;
  }

  .checkbox {
    height: 20px;
    width: 20px;
  }
}

.btnFlex {
  display: flex;
  flex-direction: row;
  gap: 3rem;
  align-items: center;
  justify-content: space-between;
  @media (max-width: 600px) {
    flex-wrap: wrap;
    justify-content: center;
  }
}
.btn {
  padding: 15px 30px;
  border-radius: 50px;
  cursor: pointer;
  border: 0;
  background-color: white;
  box-shadow: rgb(0 0 0 / 5%) 0 0 8px;
  letter-spacing: 1.5px;
  text-transform: uppercase;
  font-size: 15px;
  transition: all 0.5s ease;
}

.btn:hover {
  letter-spacing: 3px;
  background-color: hsl(261deg 80% 48%);
  color: hsl(0, 0%, 100%);
  box-shadow: rgb(93 24 220) 0px 7px 29px 0px;
}

.btn:active {
  letter-spacing: 3px;
  background-color: hsl(261deg 80% 48%);
  color: hsl(0, 0%, 100%);
  box-shadow: rgb(93 24 220) 0px 0px 0px 0px;
  transform: translateY(10px);
  transition: 100ms;
}
